.bg{
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 90px;
}
.div{
    background-color: white;
    color: black;
    padding: 20px;
}
.div1{
    color: white;
}
.btn{
    background-color: tomato;
    color: white;
}